* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(241, 241, 246);
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(187, 234, 15);
}

nav, .logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
nav, ul {
    display: flex;
    justify-content: space-between;
    gap: 34px;
    align-items: center;
}
nav, li{
    list-style: none;
}
.nav-list {
    margin-left: 200px;
}