:root{
    --color-1: #91c55e;
    --color-2: #d4e6dc;
    --color-3: #046c35;
    --color-4: #5c9f7f; 
    --color-white: white;
    --color-black: black;
    --color-pink: #b47c9c;
    --yellow: #ffc107;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--color-1);
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid var(--color-3);
}

nav, ul {
    display: flex;
    justify-content: space-between;
    gap: 34px;
    align-items: center;
}
nav, li{
    list-style: none;
}

.nav-list, li, a {
    text-decoration: none;
    color: var(--color-3);
    font-size: larger;
}
.nav-list, li, a:hover{
    color: var(--color-2);
    font-weight: 400;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--color-1);
    position: fixed;
    width: 100%;
    z-index: 4;
}

.navbar-header{
    display: flex;
    gap: 108px;
    align-items: center;
}

.enquiry-btn {
    width: 100%;
    background-color: var(--color-3);
    color: var(--color-2);
    border: 2px solid var(--color-1);
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 900;
}
.enquiry-btn:hover {
    border: 1.5px solid var(--color-2);
}
.banner-img {
    width: 100%;
    height: 100vh;
}

.banner{
    position: relative;
    text-align: center;
    color: var(--color-black);
}

.banner-content {
    position: absolute;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: var(--color-white);
    font-weight: bold;
    border: 3px solid var(--color-white);
    z-index: 2;
    width: 70%;
    padding: 20px;
    text-align: center;
  }

.centered-title {
    padding: 20px;
    margin-bottom: 30px;
    font-size: 36px;
}

.centered p{
    font-size: 20px;
}
/*  */
.shop {
    background-color: var(--color-4);
    align-items: center;
    display: flex;
    padding: 20px;
    margin: 0;
    justify-content: center;
}
.shop-btn {
    width: 100px;
    height: 50px;

}
/* catagory */
.catagory{
    justify-content: center;
}

.catagory-header {
    display: flex;
    justify-content: center;
    padding: 20px;
    color: var(--color-3);
    font-weight: 900;
}

.catagory-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
}

.catagory-img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    transition: transform 1s;
}
img.catagory-img {
    border: 1px solid var(--color-4);
}
.catagory-name {
    text-align: center;
    color: var(--color-2);
}

.catagory-img:hover {
    transform: scale(1.1);
}
.catagory-name:hover{
    color: var(--color-3);
    font-weight: 300;
}

.catagory-last {
    font-size: 30px;
    color: var(--color-2);
    text-align: center;
}

/* testimonials */

.splide__slide {
    padding: 3rem 6rem;
    display: flex;
    justify-content: center;
    background: var(--color-4);
  }

  .splide__slide__container {
    width: 400px;
    text-align: left;
  }

  .slide__content {
    margin: 1rem 0;
    font-size: 1.3rem;
  }

  .slide-img__wrapper {
    display: flex;
    align-items: center;
  }

  .slide-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
  }

  .slide-img__caption {
    margin-left: 1rem;
  }

  .slide-img__caption span {
    color: #112a46;
    font-weight: 500;
  }

  /* Custom styling (Totally Optional)*/

  .splide__pagination__page.is-active {
    /* //here I have changed the scale from 1.4 to 1.5 */
    transform: scale(1.5);
    /* //changed from default bg-color to this */
    background: #112a46;
  }

.fb-left{
    display: flex;
    width: 50%;
    /* overflow: hidden; */
    padding: 20px;
}

